* Informacion del incremento del timepo (plots)
* Varianza de cada variable
* Mirar datos faltantes mediante el timestamp
    * recogida de datos cada 30s
    * cuidado porque puede ser que los timestamp tengan delays debido a fallos de los sensores.

HAY QUE TENER VARIOS BASELINES

Para que ellos puedan tener una idea de cómo funciona

# EDA

@TODO : Descripción dataset

Los datos recogidos en este dataset tienen las siguientes filas: ``timestamp``, ``light_air``, ``light_ground``, ``moisture_ground``, ``dht_air_humidity``, ``dht_air_temperature``, ``dht_ground_humidity``, ``dht_ground_temperature``.


La variable a predecir es ``moisture_ground``.

In [1]:
import pandas as pd
import numpy as np
# import seaborn as sns
# import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('data/HUERTO-ESP32_huerto_casa.tsv', sep='\t')

## Train test split

* **Test** dataset will be the last 1000 rows will be allocated for validation purposes.
* **Training** dataset will be the first 9000 rows.

In [3]:
test_data = data.tail(1000)
train_data = data.head(9000)

In [4]:
train_data.head()

,timestamp,light_air,light_ground,moisture_ground,dht_air_humidity,dht_air_temperature,dht_ground_humidity,dht_ground_temperature
0,1697063380,2311,1999,944,40,24.4,40,24.3
1,1697063416,2325,2006,929,40,24.3,40,24.3
2,1697063450,2320,2003,952,40,24.3,40,24.3
3,1697063484,2329,1999,950,40,24.3,40,24.2
4,1697063518,2307,1983,961,40,24.3,40,24.2

## General statistics

In [5]:
from ydata_profiling import ProfileReport

c:\Users\Bl1tty\Documents\Uni\temporales\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [6]:
report = ProfileReport(train_data, tsmode=True, title="Time series gardeen")
report.to_file('time_series_gardeen_report.html')

Summarize dataset: 100%|██████████| 81/81 [00:24<00:00,  3.26it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:38<00:00, 38.49s/it]
Render HTML: 100%|██████████| 1/1 [00:10<00:00, 10.33s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 15.25it/s]

## Timestamp data

In [7]:
timestamps = train_data['timestamp']

In [8]:
delay = 30      # s
threshold = 30  # s

t = int(timestamps[0])
c = 0
# print(len(timestamps[1:]))
for i, timestamp in enumerate(timestamps[1:]):
    diff = int(timestamp) - t
    t = int(timestamp)

    # missing data from sensors
    if diff >= 60:
        c += diff // 30

print(f"Total missing values: {c}")

Total missing values: 483

## Generate train_test data

In [19]:
train_data.to_csv('data/split/train_data.csv', index=False)

In [20]:
test_data.to_csv('data/split/test_data.csv', index=False)